

.content-section {
  margin-top: 3em;
}

.content-section .content-section-container {
  padding: 60px;
}

.content-section .content-section-container .tutorials-section{
  color: black;
}

.content-section .content-section-container .tutorials-section .card p{
  font-family: monospace;
}
