<div>
  <div class="image-cdn-handler">
    <img
      src="../../assets/cdn.png"
      alt="cdn"
      title="cdn"
      class="img-fluid"
    />
  </div>
  <div class="search-form-section">
    <form>
      <div class="form-group">
        <div class="search-form-handler">
          <input
            type="search"
            name="search"
            class="form-control"
            placeholder="Library name..."
          />
          <div class="search-icon-handler">
          <button type="submit">
            <svg
              width="36"
              height="36"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-search"
              ><circle
                cx="11" cy="11" r="8">
                </circle>
                <line
                  x1="21" y1="21" x2="16.65" y2="16.65">
                </line>
            </svg>
          </button>
          </div>
        </div>
      </div>
    </form>
    <ul class="filter-select">
      <li class="filter-select-list"></li>
    </ul>
  </div>
</div>
