.image-cdn-handler {
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-section {
  width: 50vw;
}

.search-form-handler {
  display: flex;
  align-items: center;
  background-color: #333333;
  border-color: #333333;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  height: 2.8em;
}

.search-form-handler:hover {
  box-shadow: 0 6px 7px rgba(0,0,0,0.5);
}

.search-form-handler input {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.search-form-handler .search-icon-handler {
  background-color: rgb(63, 60, 60);
  margin: 0;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s linear;
}

.search-form-handler .search-icon-handler button {
  background: transparent;
  border: none;
  outline: none;
}

.search-form-handler .search-icon-handler:hover {
  background-color: rgb(43, 42, 42);
}

.search-form-section .filter-select {
  list-style-type: none;
}

.selected {
  color:red;
}
/* responsive */
@media all and (max-width: 575px){
  .search-form-section {
    width: 90vw;
  }
}
